# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Portable Python / Environments
.python/
.venv/
venv/
ENV/

# Data & Logs
data/logs/*
!data/logs/.gitkeep
data/cache/
data/voice_profile.bin
*.db*
*.sqlite*


# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

data/kokoro/
data/settings.json
*.onnx
*.bin

